<!-- Services Section -->
    <section id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for papers</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                    Today, multiple multimedia sensing technologies and large-scale computing infrastructures are producing at a rapid velocity a wide variety of big multi-modality data 
                    for human-centric analysis. Therefore, this workshop will present recent advances under the umbrella of human-centric multimedia analysis, which range from the 
                    fundamental problems of face detection and recognition, human body pattern analysis, person re-identification, finally to human activity analysis and 
                    understanding in complex scenarios and industrial applications. We solicit original contributions in all fields of human-centric multimedia analysis that 
                    explore the multi-modality data to help us understand the heavier of humans and promote the multi-modal human-machine interaction. We believe the workshop 
                    will offer a timely collection of research updates to benefit the researchers and practitioners working in the broad multimedia communities. To this end, 
                    we welcome original research, industrial applications, and survey papers in (but not limited to) the following topics:
                    <li>Face detection, recognition, face anti-spoofing, face landmark detection and parsing.</li>
                    <li>Human detection, pose estimation, human parsing, and pose tracking.</li>
                    <li>Human 3D shape estimation and reconstruction.</li>
                    <li>Human gait recognition, person re-identification and person tracking.</li>
                    <li>Human action recognition and detection</li>
                    <li>Human activity recognition using non-visual sensors</li>
                    <li>Huma-computer interaction / Human object interaction</li>
                    <li>Multimedia event detection</li>
                    <li>Anomaly event detection</li>
                    <li>Human crowd analysis</li>
                </p>
                <h3>Reviewing process</h3>
                <p> 
                    The full paper submission deadline will be around June 29, and the decisions will be out on July 31. Paper submissions must conform with the “double-blind” review 
                    policy. All papers will be peer-reviewed by experts in the field, they will receive at least three reviews. Acceptance will be based on relevance to the workshop, 
                    scientific novelty, and technical quality. The workshop papers will be published in the ACM Digital Library.
                </p>
            </div>
        </div>
    </section>