<!-- Navigation -->
<nav class="navbar navbar-default navbar-default-color navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a class="navbar-brand"><img src="./css/2020_style/img/logo-mini.png" style="margin-top:-15px" width="100px" alt="icon-about"></a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#introduction" style="margin-top:-15px">Introduction</a>
                </li>
                <li>
                    <a href="/call"style="margin-top:-15px">Call for Papers</a>
                </li>
                <li>
                    <a href="/publications"style="margin-top:-15px">Publications</a>
                </li>
                <li>
                    <a href="/programs"style="margin-top:-15px">Programs</a>
                </li>
                <li>
                    <a href="/speakers_info"style="margin-top:-15px">Speakers</a>
                </li>
                <li>
                    <a href="/organizers_info"style="margin-top:-15px">Organizers</a>
                </li>
                <li>
                    <a href="/submission"style="margin-top:-15px">Submission</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

