<!-- Services Section -->
<section id="call" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Important Date</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                <font size='6'>
                    <ul>
                        <li>Workshop paper submission: <span style="text-decoration:line-through;"> <strong>July 30 </strong> </span>  ->  August 10, 2020</li> 
                        <li>Workshop paper notifications: August 26, 2020</li>
                        <li>Workshop camera-ready paper: September 2, 2020</li>
                    </ul>
                </font>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Submission Page</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                Submissions are made via <a href="https://cmt3.research.microsoft.com/MMW2020">Link</a>. Please select the track of The 1st International Workshop on Human-centric Multimedia Analysis
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Paper Format</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                Submitted papers (.pdf format) must use the ACM Article Template. Please remember to add Concepts and Keywords <a href="https://www.acm.org/publications/proceedings-template">Link</a>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Length</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                The HuMA workshop will welcome two kinds of submissions:<br/>
                <ul>
                    <li>Research papers which can be 6 to 8 pages. Up to two additional pages may be added for references. The reference pages must only contain references. Optionally, you may upload supplementary material that complements your submission (100Mb limit).</li> 
                    <li>Demo papers which can be 2 pages.</li>
                </ul>
            </p>
            <p>More submission details: <a href="/submission">Link</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reviewing Process</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                The full paper submission deadline will be around August 10, and the decisions will be out on August 26. Paper submissions must conform with the “double-blind” review 
                policy. All papers will be peer-reviewed by experts in the field, they will receive at least three reviews. Acceptance will be based on relevance to the workshop, 
                scientific novelty, and technical quality. The workshop papers will be published in the ACM Digital Library.
            </p>
        </div>
    </div>
</section>
