<!-- Services Section -->
<section id="call">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Important Date</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                <font size='6'>
                    <ul>
                        <li>Workshop paper submission: <strong>July 30 </strong></li> 
                        <li>Workshop paper notifications: August 26</li>
                        <li>Workshop camera-ready paper: September 2</li>
                    </ul>
                </font>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Submission Page</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                <font size='6'>
                Submissions are made via <a href="https://cmt3.research.microsoft.com/MMW2020">https://cmt3.research.microsoft.com/MMW2020</a>.Please select the track of The 1st International Workshop on Human-centric Multimedia Analysis
                </font>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Paper Format</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                <font size='6'>
                    Submitted papers (.pdf format) must use the ACM Article Template. Please remember to add Concepts and Keywords <a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>
                </font>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Length</h2>
            </div>
        </div>
        <div class="row container">
            <p class="large"> 
                <font size='6'>
                    The HuMA workshop will welcome two kinds of submissions:<br/>
                    <ul>
                        <li>Research papers which can be 6 to 8 pages. Up to two additional pages may be added for references. The reference pages must only contain references. Optionally, you may upload supplementary material that complements your submission (100Mb limit).</li> 
                        <li>Demo papers which can be 2 pages.</li>
                    </ul>
                </font>
            </p>
        </div>
    </div>
</section>
