<!-- Services Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                </div>
            </div>
            <div>
                <font size="6">
                <p>
                    <li><strong>2020/03/09:</strong>The website is available</li>
                </p>
                </font>
            </div>
        </div>
    </section>