<!-- Services Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                </div>
            </div>
            <div class="row container" align="text-center">
                <!-- <p>Topic; <a href="/2016">Link to 2016</a> 
                </p> -->
                <p font-size="20px">
                    <li>The website is available</li>
                </p>
            </div>
        </div>
    </section>