<!-- Services Section -->
    <section id="news" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                </div>
            </div>
            <div class="row container">
                <p class="large">
                    <strong>2020/09/10:</strong>  We invited Dr. Dima Damen, Prof. Cees Snoek, and Dr. Ziwei Liu as Keynote Speaker. <a href="/invited">Link</a></br>
                    <strong>2020/06/15:</strong>  The Workshop paper submission deadline is extended to Aug. 10, 2020 <a href="/submission">Link</a></br>
                    <strong>2020/06/15:</strong>  Paper submission details is available <a href="/submission">Link</a></br>
                    <strong>2020/03/09:</strong>  The website is available</br>
                </p>
            </div>
        </div>
    </section>
