<!-- Portfolio Grid Section -->
    <section id="organizers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizers</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <form id="searchForm" class="col-md-12 form-horizontal" role="form">
                {% for post in site.data.twenty_20.organizers %}
                    <div class="row">
                        <div class="col-md-4 speakers-item" style="vertical-align: text-top;">
                            <a href="{{ post.name }}" class="speakers-link" data-toggle="modal">
                                <img src="../css/2020_style/img/organizers/{{ post.thumbnail }}" class="img-centered" width="345px" height="345px">
                            </a>
                            <div class="speakers-caption">
                                <h4 align="center">{{ post.title }}</h4>
                                <p class="text-muted" align="center">{{ post.subtitle }}</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>{{post.description}}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </form>
        </div>
    </section>