<!-- Services Section -->
    <section id="programs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tentative Programs</h2>
                </div>
            </div>
            <div class="row container">
                <font size="6">
                <p class="large text-center">
                    <ul>
                        <li>9:00 ~ 9:15 Welcome and opening</li>
                        <li>9:15 ~ 10:30&nbsp;&nbsp;<strong>Talk 1: Shih-Fu Chang, Columbia University</strong></li> 
                        <li>10:30 ~ 11:00&nbsp;Coffee break</li>
                        <li>11:00 ~ 11:45&nbsp;<strong>Talk 2: Prof. Cees Snoek, University of Amsterdam</strong></li>
                        <li>11:45 ~ 14:00&nbsp;Lunch and Poster Session</li>
                        <li>14:00 ~ 14:45&nbsp;<strong> Talk 3: Prof. Alex Hauptman, Carnegie Mellon University</strong></li>
                        <li>14:45 ~ 16:00&nbsp;3 oral presentations (15 min. each)</li>
                        <li>16:00 ~ 16:30&nbsp;Coffee break</li>
                        <li>16:30 ~ 17:15&nbsp;3 oral presentations (15 min. each)</li>
                        <li>17:15 ~ 17:30&nbsp;Discussion and closing (10 min.)</li>
                    </ul>
                </p>
                </font>
                
            </div>
        </div>
    </section>