<section id="programs" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programs</h2>
                <h3 class="section-subheading"><strong>This is a tentative program. The detailed schedule for the workshop will be announced 
                    when the time frame of this year's online-only mode of ACMMM is determined.</strong>
                </h3>
            </div>
        </div>
        <form id="searchForm" class="col-md-12 form-horizontal" role="form">
            {% for post in site.data.twenty_20.programs %}
                <div class="row">
                    <div class="col-md-2">
                        <p valign="top">{{ post.time}}</p>
                    </div>
                    <div class="col-md-8" style="vertical-align: text-top; margin-bottom:-3px">
                        <p>{{ post.title}}</p>
                    </div>
                    <div class="col-md-2">
                        <p valign="top">{{post.people}}</p>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</section>