<!-- Portfolio Grid Section -->
    <section id="organizers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Submission</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <h3>Submission page:</h3>
                <p>Submissions are made via <a href="https://cmt3.research.microsoft.com/MMW2020">https://cmt3.research.microsoft.com/MMW2020</a>. Please select the track of The 1st International Workshop on Human-centric Multimedia Analysis</p>
            </div>
            <div class="row">
                <h3>Paper format:</h3>
                <p>Submitted papers (.pdf format) must use the ACM Article Template. Please remember to add Concepts and Keywords <a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a></p>
            </div>
            <div class="row">
                <h3>Length:</h3>
                <p>The HuMA workshop will welcome two kinds of submissions:<br/>
                    <ul>
                    <li>Research papers which can be 6 to 8 pages. Up to two additional pages may be added for references. The reference pages must only contain references. Optionally, you may upload supplementary material that complements your submission (100Mb limit).</li>
                    <li>Demo papers which can be 2 pages.</li>
                    </ul>
                </p>
            </div>
            <div class="row">
                <h3>Blinding:</h3>
                <p>
                    Paper submissions must conform with the “double-blind” review policy. This means that the authors should not know the names of the reviewers of their papers, and reviewers should not know the names of the authors. Please prepare your paper in a way that preserves anonymity of the authors.
                    <ul>
                        <li>Do not put the authors’ names under the title.</li>
                        <li>Avoid using phrases such as “our previous work” when referring to earlier publications by the authors.</li>
                        <li>Remove information that may identify the authors in the acknowledgments (e.g., co-workers and grant IDs).</li>
                        <li>Check supplemental material (e.g., titles in the video clips, or supplementary documents) for information that may identify the authors’ identities.</li>
                        <li>Avoid providing links to websites that identify the authors.</li>
                    </ul>
                    Papers without appropriate blinding will be rejected without review.
                </p>
            </div>
            <div class="row">
                <h3>Originality:</h3>
                <p>Papers submitted to ACM Multimedia must be the original work of the authors. The may not be simultaneously under review elsewhere. Publications that have been peer-reviewed and have appeared at other conferences or workshops may not be submitted to ACM Multimedia (see also the arXiv/Archive policy below). Authors should be aware that ACM has a strict policy with regard to plagiarism and self-plagiarism (https://www.acm.org/publications/policies/plagiarism). The authors’ prior work must be cited appropriately.</p>
            </div>
            <div class="row">
                <h3>Author list:</h3>
                <p>Please ensure that you submit your papers with the full and final list of authors in the correct order. The author list registered for each submission is not allowed to change in any way after the paper submission deadline. (Note that this rule regards the identity of authors, e.g., typos are correctable.)</p>
            </div>
            <div class="row">
                <h3>Proofreading:</h3>
                <p>Please proofread your submission carefully. It is essential that the language use  in the paper is clear and correct so that it is easily understandable. (Either US English or UK English spelling conventions are acceptable.)</p>
            </div>
            <div class="row">
                <h3>ArXiv/archive policy:</h3>
                <p>In accordance with ACM guidelines, all SIGMM-sponsored conferences adhere to the following policy regarding arXiv papers:</p>
                <p>&nbsp;&nbsp;We define a publication as a written piece documenting scientific work that was submitted for review by peers for either acceptance or rejection, and, after review, has been accepted. Documentation of scientific work that is published in a not-for-profit archive without any form of peer-review (departmental Technical Report, arXiv.org, etc.)  is not considered a publication. However, this definition of publication does include peer-reviewed workshop papers, even if they do not appear in formal proceedings. Any submission to ACM Multimedia must not have substantial overlap with prior publications or other work currently undergoing peer review.</p>
                <p>&nbsp;&nbsp;Note that documents published on website archives are subject to change. Citing such documents is discouraged. Furthermore, ACM Multimedia will review the documents formally submitted and any additional information in a web archive version will not affect the review.</p>
            </div>
        </div>
    </section>