<!DOCTYPE html>
<html>
    <style type="text/css">
        /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
          {% include /2020_css/critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>
    {% include 2020_data/js.html %}
    {% include 2020_data/head.html %}
    <body id="page-top" class="index">

        {% include 2020_data/header-home.html %}

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading" style="text-transform: capitalize;">The 1st International Workshop on Human-centric Multimedia Analysis<br></div>
                    <div class="intro-lead-in">12-16 October 2020</div>
                    <div class="intro-lead-in">Seattle, United States</div>
                    <a href="https://2020.acmmm.org/" class="page-scroll btn btn-xl">View on ACM MM 2020</a>
                </div>
            </div>
        </header>

        {% include 2020_data/news.html %}
        {% include 2020_data/intro.html %}
        <!-- {% include 2020_data/important_date.html%} -->
        <!-- {% include 2020_data/programs.html %} -->
        {% include 2020_data/speakers.html %}
        {% include 2020_data/organizers.html %}
    </body>
    {% include 2020_data/footer.html %}
</html>